<app-collection>Tienda</app-collection>
<div class="store__select">
  <select
    class="store__select-input"
    name="asset"
    id="asset"
    (change)="onChange($event)"
  >
    <option class="store__select-input-option">Seleccionar equipo</option>
    <option class="store__select-input-option" value="hair">Cabello</option>
    <option class="store__select-input-option" value="head">Cabeza</option>
    <option class="store__select-input-option" value="body">Cuerpo</option>
    <option class="store__select-input-option" value="hand">Manos</option>
    <option class="store__select-input-option" value="legs">Piernas</option>
    <option class="store__select-input-option" value="pets">Mascotas</option>
  </select>
</div>

<div class="store">
  <ng-container *ngIf="items">
    <div class="store__item" *ngFor="let item of iterable">
      <app-store-item [item]="item" [type]="assetType"></app-store-item>
    </div>
  </ng-container>
  <div *ngIf="displaySeller" class="salesman">
    <div class="salesman__dialog">Bienvenido aventurero! ¿Qué equipo deseas comprar hoy?</div>
    <img class="salesman__img" src="assets/images/salesman.png" alt="Seller" />
  </div>
</div>
