.login-form {
  display: flex;
  justify-content: center;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &-input {
      margin-bottom: 12px;
    }
    &-button {
      margin-top: 30px;
    }
  }
}
