$primary-color: #e0393a;
$accent-link: #64cdec;
$background-green: #547811;
$background-light-grey: #ededed;
$background-blue: #64cdec;

$primary-text-color: #ffffff;
$grey-text-color: #898989;
$dark-grey-text-color: #3e3e3e;
$green-text-color: #547811;
