<div class="my-account-card">
  <div class="my-account-card__header">
    <div class="my-account-card__header-data">
      <div class="my-account-card__header-data-name">roberto Garcia</div>
      <div class="my-account-card__header-data-email">rgarcia@hotmail.com</div>
      <div class="my-account-card__header-data-country">Argentina</div>
    </div>
    <div class="my-account-card__header-profile">
      <img
        class="my-account-card__header-profile-image"
        src="assets/MOCK/pixie.png"
        alt="pixie image"
      />
    </div>
  </div>
  <div class="my-account-card__pixie">
    <img
      class="my-account-card__pixie-image"
      src="assets/MOCK/pixie.png"
      alt="My pixie"
    />
  </div>
  <div class="my-account-card__money">
    <div class="my-account-card__money-image">
      <img src="assets/iconos/coins.png" alt="Icono Monedas" />
    </div>
    <div class="my-account-card__money-data">
      <div class="my-account-card__money-data-amount">852</div>
      <div class="my-account-card__money-data-text">Monedas Disponibles</div>
    </div>
    <button class="my-account-card__money-button">
      <img src="assets/iconos/fab-pixelado.svg" alt="Boton Tienda" />
    </button>
  </div>
</div>
