<div *ngIf="page" class="heart_spinner">
  <div class="heart_spinner-carga">
    <img src="assets/gif/spinner.gif" alt="" />

    <div class="heart_spinner-title">
      <img src="assets/onBoarding/Estamos preparando todo..svg" alt="" />
    </div>
  </div>
</div>

<div *ngIf="page1" (click)="skip1()">
  <app-on-boarding-page1></app-on-boarding-page1>
</div>

<div *ngIf="page2" (click)="skip2()">
  <app-on-boarding-page2></app-on-boarding-page2>
</div>

<div *ngIf="page3" (click)="skip3()">
  <app-on-boarding-page3></app-on-boarding-page3>
</div>
