<div class="collection-container">
  <div class="collection-card" *ngFor="let item of collection">
    <div class="collection-card__header">
      <div class="collection-card__header-name">{{ item.name }}</div>
      <div class="collection-card__header-id">#{{ item.id }}</div>
    </div>
    <div class="collection-card__image">
      <img
        class="collection-card__image-png"
        src="assets/images/store-avatar.png"
        alt="Avatar"
      />
      <img
        class="collection-card__image-png"
        [src]="item.image"
        alt="My item"
      />
    </div>

    <div class="collection-card__footer" (click)="equip(item)">
      <div class="collection-card__footer-amount">Equipar</div>
    </div>
  </div>
</div>
