

<div class="collection_top">

    <img src="../../../assets/iconos/collection/coleccion.svg"
    alt="nube icon"/>
    <div class ="collection_top-arrow">
    <img src="../../../assets/iconos/collection/chevron-left.svg" alt="">
    <a routerLink="profile" class="bottombar__button-text"></a>
    </div>
</div>

   <!-- <div class="collection_down">
    <img class="collection_down-baul"
    src="../../../assets/iconos/collection/image 23.svg"
    alt="baul icon"
    />
  </div> -->
   <!-- <div class="collection_title">
    <h1>Colección</h1>
</div> -->


