@import "../../../assets/styles/main.scss";

.collection_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection_top-arrow {
  display: flex;
  position: absolute;
  padding-left: 10px;
}
