<div class="page">
  <div class="page_onboarding">
    <img src="../../../assets/onBoarding/-------------- __Bienvenido__ --------------.svg " alt="" >
  </div>
  <div class="page_onboarding-fondo">
    <img src="../../../assets/onBoarding/dalevida.png" alt="" >
  </div>
  <div class="page_onboarding-jump">
    <img src="../../../assets/onBoarding/__ Saltar __.svg" alt="">
  </div>

  <div class="page_onboarding-icon">
    <img src="../../../assets/onBoarding/pixil-layer-39 1.png" alt="">
</div>
  </div>

