@import "../../../assets/styles/main.scss";

.headbar {
  display: flex;
  align-items: center;
  justify-content: end;

  background: $primary-color;

  height: 56px;

  position: sticky;
  top: 0px;
}
.headbar_title h1{
  display: flex;
  align-items: start;
  color: $primary-text-color;
  font-size: $medium-font-size;
  padding-left: 5px;
  justify-content: space-between;
  margin: 16em;
  }

.headbar__button {
  padding-right: 26px;

}
.headbar__button_icon{
  height: 24px;
  width: 24px;
}
