@import "../../../assets/styles/main.scss";

.headbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  background: $primary-color;

  height: 56px;
  width: calc(100% - 20px);

  position: sticky;
  top: 0px;
  z-index: 15;
}

.headbar_title h1 {
  display: flex;
  align-items: flex-start;
  color: $primary-text-color;
  font-size: $medium-font-size;
}

.headbar__button_icon {
  height: 24px;
  width: 24px;
}
