<div class="character-card">
  <div class="character-card__top">
    <img
      class="character-card__top-image"
      [src]="avatar.avatar.image"
      alt="Pixies image"
    />
    <ng-container *ngIf="avatar.avatar.equip.length !== 0">
      <img
        *ngFor="let item of avatar.avatar.equip"
        class="character-card__top-asset"
        [src]="item.image"
        alt="asset"
      />
    </ng-container>
  </div>
  <div class="character-card__footer">
    <div class="character-card__footer-likes">
      <div class="character-card__footer-likes-amount">12048 me gusta</div>
      <div class="character-card__footer-likes-button">
        <img
          (click)="toggleFavorite()"
          *ngIf="isFavorite"
          class="character-card__footer-likes-button-icon--favorite"
          src="assets/iconos/union-filled.svg"
          alt="heart icon"
        />
      </div>
    </div>
    <div class="character-card__footer-data">
      <p>Dueño: {{ avatar.firstName }} {{ avatar.lastName }}</p>
      <p>País: {{ avatar.country }}</p>
      <p>Token ID: {{ id }}</p>
    </div>
  </div>
</div>
